* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100%;
  height: 140px;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
  background-image: url(top_header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.header-contents {
  display: flex;
  justify-content: space-between;
  
}

.fathers-title {
  width: 10vw;
  margin-right: 10vw;
  font-size: 50px;
  color:black;
  text-decoration: none;
  font-family: Comic Sans MS;
  font-weight:bold
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.brand-list {
  text-decoration: none;
  color: #333333;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.lists-left {
  display: flex;
  min-width: 200px;
  list-style: none;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
  font-size: 20px;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
  font-size: 20px;
}

.sign-up {
  text-decoration: none;
  color: #333333;
  font-size: 20px;
}