<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='header-contents'>
    <%= link_to 'Fathers', root_path, class: "fathers-title" %>
  </div>
      
  </div>
</header>