.show-image{
  width: 40vw;
  height: 50vh;
  display: flex;
  margin-bottom: 60px;
}

.show-post{
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
  background-color: #EEEEEE;


}

.show-title{
  text-align: center;
  font-size: 50px;
  height: 10vh;
  color:blue;
  font-weight: bold;
}

.show-text{
  margin: 30px 0 0 0;
  font-size: 20px;

}
.show-category{
  font-size: 15px;
  border: 3px double;
  background-color: lightgray;
  height: 25px;
  width: 8vw;
  padding: 0 15px 0 15px;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;
}

.show-prefecture{
  font-size: 15px;
  display: flex;
  justify-content: end;
  color:gray;
  margin-bottom: 30px;
}