.show-image{
  width: 40vw;
  height: 50vh;
  display: flex;
  margin-bottom: 60px;
}

.show-post{
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
  background-color: #EEEEEE;


}

.show-title{
  text-align: center;
  font-size: 50px;
  height: 10vh;
  color:blue;
  font-weight: bold;
}

.show-text{
  margin: 30px 0 0 0;
  font-size: 20px;

}
.show-category{
  font-size: 15px;
  border: 3px double;
  background-color: lightgray;
  height: 25px;
  width: 8vw;
  padding: 0 15px 0 15px;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;
}

.show-prefecture{
  font-size: 15px;
  display: flex;
  justify-content: end;
  color:gray;
  margin-bottom: 30px;
}

.show-list{
  text-decoration: none;
  margin-left: 1vw;
  color: #333333;
  border: 3px solid;
  padding: 0 15px 0 15px;
  display: flex;
  justify-content: end;
}

.button-064 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin: 0 auto;
  padding: .9em 2em;
  border: 1px solid #f0493d;
  border-radius: 25px;
  background-color: #fff;
  color: #f0493d;
  font-size: 1em;
  text-decoration: none;
}

.button-065 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin: 0 auto;
  padding: .9em 2em;
  border: 1px solid #f0493d;
  border-radius: 25px;
  background-color: #fff;
  color: #f0493d;
  font-size: 1em;
  text-decoration: none;
}

.button-002 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin:0 auto;
  padding: .9em 2em;
  border: none;
  border-radius: 5px;
  background-color: #2589d0;
  color: #fff;
  font-weight: 600;
  font-size: 1em;
  margin-top: 20px;
  text-decoration: none;
}

.button-002:hover {
  background-color: #1579c0;
}

.button{
  margin-bottom: 30px;
}

.comments-title{
  font-size: 33px;
  display: flex;
  justify-content: center;
}

.comments{
  margin-top:100px;
}

.comment-user{
  text-decoration: none;
  font-size: 20px;
  color: blue;
}
.comment-show{
  margin: 0 300px 100px 300px;
}

.destroy-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin:0 auto;
  padding: 10px;
  border: none;
  border-radius: 23px;
  background-color: #ff0202;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
  text-decoration: none;
  font-family: "游ゴシック", "YuGothic";
}

.destroy-btn:hover {
  background-color: #ff0202;
}